body,
html {
    margin: 0;
}

section {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.caixa-estrutura {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

#logo {
    display: block;
    margin: 0 auto 20px;
    width: 260px;
    height: 70;
}

.inputs input {
    border-radius:15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50px;
}

#botao-azul {
    height: 40px;
    width: 60%;
    margin-left: 20%;
    border: none;
    border-radius: 15px;
    background-color: #0751a0;
    color: white;

}

#botao-azul:hover{
    background-color: #053a74;
}

#message {
    margin-top: 15px;
}

header {
    padding: 20px;
    text-align: center;
}

.card {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-image: url("../assents/WhatsApp\ Image\ 2024-09-30\ at\ 15.07.34.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fonte {
    font-weight: bold;
}

.xd {
    color: #0751a0;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
}