* {
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
}

nav {
    margin-top: 0;
    background-color: rgb(212, 212, 212);
    width: 250px;
    float: left;
    height: 100%;
    overflow: hidden;
}

nav, a, ul>li {
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.img {
    border-radius: 100%;
    width: 70px;
    height: 60px;
    margin-top: 20px;
    margin-left: 90px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}


.fontes { 
    font-family:  "Archivo Black";
    font-size: 25px;
    color: black;
    text-align: start;
    padding-top: 40px;
    margin-left: 22%;
    font-weight: bold;
}

li,
.professor {
    font-weight: bold;
    margin-top: 10px;
}

/* cards */

.cardxd {
    border-radius: 20px 20px 0px 0px;
    width: 245px;
    height: 140px;
    object-fit: cover;
}

.img1 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.classes {
    padding: 10px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container {
    margin-left: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;

}

.title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    margin-left: 12%;
    font-size: 14px;
    padding-top: 2px;
}

.plu {
    color: rgb(190, 190, 190);
    text-align: left;
}

.plus {
    text-align: left;
}

.desc {
    padding-top: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.fundo2 {
    background-color: #ffffff;
    box-shadow:  0px 3px 10px  #808080;
    width: 245px;
    height: 250px;
    border-radius: 20px 20px 20px 20px;
}

.cinza {
    color: black;
    font-weight: bold;
    margin-left: 8%;
}

.botao-azul {
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 12px;
    margin-left: 20%;
    border: none;
    background-color: rgb(0, 119, 255);
    cursor: pointer;
    margin-top: 4%;
    box-shadow: 0px 3px 10px #808080;
}

.botao-azul:hover {
    background-color: rgb(0, 100, 200);
}

.botao-laranja {
    color: white;
    width: 140px;
    height: 30px;
    border-radius: 12px;
    margin-left: 23%;
    border: none;
    background-color: rgb(255, 136, 0);
    cursor: pointer;
    margin-top: 4%;
    box-shadow: 0px 3px 10px #808080;
}

.botao-laranja:hover {
    background-color: rgb(235, 133, 17);
}

.flecha {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    box-shadow: 0px 3px 10px #808080;
    margin-top: 130px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha1 {
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 70px;
    height: 70px;
    box-shadow: 0px -3px 10px #808080;
    margin-top: 130px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(-1);
}